@media screen and (max-width: 767px) {
     .wrapper{
        width: 300px;
        margin: 0 auto;
     }
    .header{
        width: 300px;
        margin: 0 auto;
    }
    .left{
        width: 100px;
        margin:0 auto;
    }
    .upcenter{
        width: 125px;
        margin:0 auto;
    }
    .right{
        width: 75px;
        margin:0 auto;
    }
    .undercenter{
        width: 125px;
        margin: 0 auto;
    }
    .under{
        width: 200px;
        margin: 0 auto;
    }
    .hooter{
        width: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 479px) {
    .wrapper{
        width: 150px;
        margin: 0 auto;
     }
    .header{
        width: 150px;
        margin: 0 auto;
    }
    .left{
        width: 150px;
        margin:0 auto;
    }
    .upcenter{
        width: 150px;
        margin:0 auto;
    }
    .right{
        width: 150px;
        margin:0 auto;
    }
    .undercenter{
        width: 150px;
        margin: 0 auto;
    }
    .under{
        width: 150px;
        margin: 0 auto;
    }
    .hooter{
        width: 150px;
        margin: 0 auto;
    }
}
   
