
.wrapper{
    margin: 0 auto;
    width: 400px;
}

.clearfix::after {
    content: "";
    display: block;x
    clear: both;
 }

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.up-center{
    width: 150px;
    height: 50px;
    background-color: #bdb400;
    float: left;

}
.right{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}

.under-center{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.under{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: left;
}

.hooter{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
