@media screen and (max-width: 479px) {
    .main{
        width: 200px;
        margin: 0 auto;
    }
    .up{
        position: relative;
    }
    .header{
        width:200px;
        height: 200px;
    }
    .box-1{
        width: 60px;
        height: 160px;
        position: absolute;
        top:20px;
        left:70px;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-left{
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        margin: 0 auto;
    }
    .header-center{
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        margin: 0 auto;
    }
    .header-right{
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        margin: 0 auto;
    }
    
    .left{
        width: 200px;
        height: 100px;
        float: none;
    }
    .right{
        width: 200px;
        height: 210px;
        float: none;
    }
    .deside{
        position: relative;
    }
    .box-2{
        position: absolute;
        top:20px;
        left:30px;
    }
    .footer{
        width: 200px;
    }